<a class="logo{{#if @custom.dark_mode_logo}} has-dark-version{{/if}}{{classNames}}" href="{{@site.url}}" aria-label="{{t "home page link"}}">
    {{#if @site.logo}}
        {{#if @custom.dark_mode_logo}}
            <img class="logo__img logo__img--dark" src="{{img_url @custom.dark_mode_logo}}" alt="{{@site.title}} {{t "icon"}}">
        {{/if}}
        <img class="logo__img logo__img--light" src="{{img_url @site.logo}}" alt="{{@site.title}} {{t "icon"}}">
    {{else}}
        <span class="logo__title">{{@site.title}}</span>
    {{/if}}
</a>