<div class="tier-card tier-card--{{slug}}{{#if trial_days}} tier-card--trial-days{{/if}}">
    <div class="tier-card__meta">
        <h2 class="tier-card__name"><span>{{name}}</span></h2>
        {{#if trial_days}}
            <span class="tier-card__trial-days">
                {{trial_days}} {{t "Trial Days"}}
            </span>
        {{/if}}
    </div>

    {{#if trial_days}}
        <div class="tier-card__best-choice">
            <svg width="102" height="102" viewBox="0 0 102 102" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M31.2708 19.0154L26.1153 7.77797L30.6147 5.71376C31.4414 5.33448 32.1871 5.14068 32.8519 5.13236C33.5168 5.12404 34.088 5.27376 34.5657 5.58152C35.0418 5.88562 35.409 6.31934 35.6675 6.88268C35.8688 7.32164 35.9581 7.74784 35.9352 8.16128C35.9107 8.57105 35.7934 8.95251 35.5835 9.30564C35.3756 9.65344 35.096 9.96102 34.7449 10.2284L34.7952 10.3381C35.2316 10.1601 35.6875 10.097 36.163 10.149C36.6422 10.1993 37.0911 10.3719 37.5098 10.6669C37.9269 10.9582 38.2621 11.38 38.5155 11.9324C38.789 12.5286 38.8851 13.1289 38.8036 13.733C38.7241 14.3319 38.4593 14.8984 38.0091 15.4325C37.559 15.9667 36.9133 16.4268 36.0719 16.8128L31.2708 19.0154ZM32.7555 15.983L34.6925 15.0944C35.3546 14.7906 35.7795 14.4429 35.9673 14.0512C36.1535 13.6559 36.1492 13.246 35.9545 12.8217C35.8119 12.5108 35.611 12.2708 35.352 12.1018C35.0929 11.9329 34.7933 11.8445 34.4532 11.8367C34.1168 11.8272 33.7583 11.9097 33.3779 12.0843L31.3861 12.9981L32.7555 15.983ZM30.6485 11.3904L32.4099 10.5823C32.7354 10.4329 32.9984 10.2437 33.1988 10.0145C33.4012 9.77993 33.5268 9.52302 33.5758 9.24372C33.6285 8.96275 33.5868 8.67412 33.4509 8.37782C33.2646 7.97177 32.9699 7.71067 32.5668 7.5945C32.1673 7.47666 31.7042 7.53857 31.1775 7.78023L29.3723 8.60843L30.6485 11.3904ZM41.3825 14.705L39.5531 2.47742L47.7923 1.24467L48.1112 3.37613L42.4572 4.22208L42.8931 7.13567L48.1232 6.35314L48.4422 8.4846L43.212 9.26713L43.6488 12.1867L49.3268 11.3372L49.6457 13.4686L41.3825 14.705ZM59.2534 5.60694C59.2674 5.11777 59.11 4.71617 58.781 4.40213C58.452 4.08809 57.9762 3.89114 57.3534 3.81128C56.9303 3.75702 56.5653 3.77109 56.2585 3.85348C55.9523 3.93188 55.708 4.06489 55.5257 4.2525C55.3474 4.44063 55.2414 4.66643 55.2076 4.9299C55.1714 5.14843 55.1928 5.34593 55.2716 5.5224C55.3544 5.69938 55.4779 5.85926 55.6422 6.00205C55.807 6.14086 56.0015 6.26927 56.2258 6.38729C56.4506 6.50132 56.6928 6.60543 56.9526 6.6996L58.0206 7.10435C58.5402 7.2927 59.0107 7.51534 59.4322 7.77227C59.8537 8.0292 60.2094 8.32435 60.4994 8.65774C60.7894 8.99113 60.9989 9.36694 61.1278 9.78517C61.2608 10.2039 61.2965 10.669 61.2349 11.1805C61.1347 11.9305 60.8597 12.5566 60.4098 13.0589C59.9644 13.5576 59.367 13.9132 58.6175 14.1254C57.8726 14.3342 57.0011 14.3746 56.0031 14.2467C55.0131 14.1197 54.1703 13.8575 53.4747 13.4599C52.7831 13.0628 52.2698 12.5405 51.9349 11.893C51.6045 11.242 51.4859 10.4741 51.5791 9.58933L54.088 9.91105C54.0632 10.3258 54.137 10.6842 54.3092 10.9863C54.486 11.2849 54.7411 11.5265 55.0744 11.7113C55.4123 11.8926 55.8048 12.0119 56.2519 12.0692C56.691 12.1255 57.0804 12.1105 57.4202 12.0243C57.7639 11.9385 58.0401 11.7934 58.249 11.5889C58.4578 11.3843 58.5811 11.1344 58.619 10.839C58.6543 10.5635 58.6022 10.3215 58.4626 10.1129C58.3269 9.90481 58.1119 9.71493 57.8174 9.54327C57.5269 9.37212 57.1651 9.20399 56.7318 9.03888L55.4395 8.53233C54.4378 8.14826 53.6719 7.65037 53.1417 7.03867C52.6115 6.42697 52.4065 5.66829 52.5267 4.76263C52.6179 4.01962 52.8987 3.39627 53.369 2.89258C53.8434 2.3894 54.4518 2.02717 55.1943 1.80589C55.9368 1.58461 56.7551 1.5313 57.6493 1.64597C58.5595 1.76268 59.3339 2.02023 59.9726 2.41862C60.6153 2.81752 61.0907 3.31873 61.3988 3.92224C61.7069 4.52575 61.8201 5.19353 61.7384 5.92559L59.2534 5.60694ZM65.9758 5.67236L66.8563 3.70521L76.1245 7.85326L75.2441 9.82041L71.7891 8.27414L67.6189 17.592L65.2605 16.5364L69.4308 7.21863L65.9758 5.67236ZM88.5001 24.9285L86.7202 22.9731C86.9407 22.7071 87.0991 22.4296 87.1953 22.1407C87.2944 21.8491 87.3354 21.5533 87.3182 21.2533C87.3009 20.9534 87.2266 20.6564 87.0951 20.3625C86.9663 20.0716 86.7827 19.7951 86.5443 19.5332C86.1136 19.06 85.6208 18.7548 85.066 18.6176C84.5142 18.4777 83.927 18.5141 83.3045 18.727C82.6849 18.9372 82.0582 19.3308 81.4242 19.9079C80.7724 20.5011 80.3128 21.0963 80.0454 21.6934C79.7807 22.2935 79.6951 22.8721 79.7886 23.4292C79.882 23.9863 80.1387 24.4955 80.5586 24.9569C80.7943 25.2158 81.0466 25.4243 81.3155 25.5822C81.5872 25.7431 81.867 25.8503 82.1551 25.9037C82.4462 25.9544 82.7384 25.9497 83.0319 25.8894C83.328 25.8321 83.6184 25.7147 83.9031 25.5372L85.674 27.5008C85.2083 27.8322 84.6884 28.0741 84.1143 28.2266C83.5458 28.3793 82.9539 28.4256 82.3385 28.3653C81.7288 28.3053 81.122 28.1229 80.5181 27.8182C79.9199 27.5137 79.354 27.0683 78.8203 26.482C78.078 25.6664 77.5988 24.7693 77.3827 23.7905C77.1693 22.8146 77.2431 21.8224 77.6039 20.8137C77.9674 19.808 78.6462 18.8528 79.6403 17.9479C80.6374 17.0404 81.6563 16.4558 82.6971 16.1942C83.7379 15.9326 84.7339 15.9567 85.6851 16.2663C86.6394 16.5733 87.4822 17.1286 88.2136 17.9322C88.6958 18.462 89.0684 19.0208 89.3314 19.6087C89.597 20.1995 89.7468 20.8006 89.7808 21.4118C89.8177 22.0204 89.731 22.6218 89.5208 23.2158C89.3132 23.8129 88.973 24.3838 88.5001 24.9285ZM83.3682 31.7451L94.716 26.8373L95.7537 29.2366L91.0716 31.2615L93.178 36.132L97.8601 34.107L98.8953 36.5007L87.5475 41.4085L86.5123 39.0148L91.1999 36.9875L89.0935 32.117L84.4058 34.1444L83.3682 31.7451ZM94.9257 54.1614C93.5808 54.2561 92.4186 54.0817 91.4393 53.6383C90.4602 53.1989 89.691 52.5591 89.1315 51.7189C88.5764 50.8825 88.2605 49.9203 88.1839 48.8323C88.1067 47.7363 88.2863 46.7352 88.7228 45.829C89.1593 44.9227 89.8314 44.1835 90.7393 43.6112C91.6471 43.0389 92.7715 42.7055 94.1124 42.6111C95.4573 42.5164 96.6193 42.6888 97.5983 43.1282C98.5774 43.5676 99.3445 44.2055 99.8997 45.0419C100.459 45.878 100.777 46.8441 100.854 47.9401C100.931 49.0281 100.751 50.0252 100.314 50.9315C99.8822 51.8414 99.2122 52.5826 98.3044 53.1548C97.3968 53.7311 96.2706 54.0666 94.9257 54.1614ZM94.7395 51.5177C95.6107 51.4563 96.3362 51.2741 96.916 50.971C97.4961 50.672 97.9242 50.2767 98.2003 49.7852C98.4763 49.2937 98.5921 48.7328 98.5478 48.1025C98.5034 47.4722 98.3101 46.9331 97.9679 46.4852C97.6257 46.0372 97.1463 45.7038 96.5297 45.485C95.9134 45.2702 95.1697 45.1934 94.2985 45.2548C93.4273 45.3161 92.7017 45.4963 92.1216 45.7954C91.5418 46.0985 91.1139 46.4958 90.8378 46.9872C90.5617 47.4787 90.4459 48.0396 90.4903 48.6699C90.5347 49.3002 90.728 49.8394 91.0702 50.2873C91.4124 50.7353 91.8916 51.0666 92.5079 51.2815C93.1245 51.5003 93.8684 51.579 94.7395 51.5177ZM100.397 60.8827L88.2 58.8607L88.6275 56.2819L100.825 58.3039L100.397 60.8827ZM90.938 73.8879L91.9416 71.4416C92.2764 71.5267 92.5949 71.5509 92.8972 71.5139C93.2032 71.4785 93.488 71.3887 93.7516 71.2445C94.0152 71.1003 94.2516 70.9059 94.4607 70.6611C94.6684 70.42 94.8394 70.1356 94.9739 69.808C95.2167 69.2159 95.2812 68.6399 95.1673 68.0799C95.0571 67.5213 94.7724 67.0065 94.3132 66.5353C93.8577 66.0657 93.2334 65.6682 92.4403 65.3429C91.6249 65.0083 90.8901 64.8483 90.236 64.8627C89.5804 64.8808 89.021 65.0516 88.5577 65.3748C88.0945 65.6981 87.7445 66.1483 87.5077 66.7255C87.3748 67.0494 87.2947 67.3667 87.2673 67.6774C87.2384 67.9918 87.2615 68.2905 87.3368 68.5737C87.4157 68.8584 87.5453 69.1204 87.7256 69.3597C87.9043 69.6026 88.1349 69.8147 88.4173 69.9958L87.4025 72.4375C86.9035 72.1588 86.462 71.7928 86.0781 71.3395C85.6964 70.8915 85.4009 70.3766 85.1915 69.7948C84.9843 69.2182 84.8889 68.5918 84.9053 67.9156C84.9239 67.2446 85.0837 66.5423 85.3846 65.8088C85.8032 64.7886 86.4083 63.971 87.1999 63.3562C87.9901 62.745 88.9181 62.3862 89.9841 62.2798C91.0485 62.177 92.2025 62.3808 93.4462 62.891C94.6935 63.4027 95.6585 64.0726 96.341 64.9007C97.0236 65.7289 97.4289 66.639 97.5569 67.6311C97.6887 68.6248 97.5483 69.6243 97.1359 70.6297C96.864 71.2925 96.5189 71.8686 96.1005 72.3582C95.6806 72.8515 95.2018 73.2446 94.6641 73.5373C94.1302 73.8315 93.5497 74.011 92.9229 74.0758C92.2945 74.1442 91.6328 74.0816 90.938 73.8879ZM82.6035 72.1935L92.1354 80.0677L86.8296 86.4905L85.1681 85.118L88.8091 80.7104L86.5378 78.8341L83.1698 82.9112L81.5082 81.5386L84.8762 77.4615L82.6003 75.5814L78.9439 80.0076L77.2823 78.635L82.6035 72.1935ZM69.8058 84.1938L74.6487 95.5695L70.0939 97.5085C69.2571 97.8648 68.5062 98.0379 67.8414 98.0278C67.1767 98.0178 66.6098 97.8523 66.1407 97.5315C65.6733 97.2143 65.3182 96.7706 65.0754 96.2004C64.8862 95.756 64.8088 95.3275 64.8431 94.9149C64.8789 94.5059 65.0067 94.1279 65.2263 93.7807C65.4438 93.4387 65.7317 93.139 66.0901 92.8814L66.0428 92.7704C65.6017 92.9363 65.1442 92.9867 64.6703 92.9216C64.1927 92.8581 63.7487 92.6731 63.3383 92.3667C62.9295 92.064 62.6061 91.633 62.368 91.0739C62.1111 90.4703 62.0317 89.8676 62.1298 89.266C62.2259 88.6696 62.5062 88.1106 62.9709 87.5891C63.4357 87.0675 64.0939 86.6255 64.9456 86.2629L69.8058 84.1938ZM68.2378 87.184L66.277 88.0187C65.6068 88.3041 65.1724 88.6399 64.9738 89.0263C64.7768 89.4163 64.7697 89.8261 64.9526 90.2557C65.0866 90.5704 65.2807 90.8159 65.535 90.9919C65.7893 91.168 66.0863 91.2646 66.4261 91.2818C66.7622 91.3006 67.1227 91.228 67.5079 91.0641L69.5242 90.2057L68.2378 87.184ZM70.217 91.8331L68.434 92.5922C68.1044 92.7325 67.8363 92.9145 67.6297 93.138C67.4209 93.3669 67.2882 93.6202 67.2315 93.898C67.1711 94.1775 67.2048 94.4671 67.3325 94.7671C67.5075 95.1781 67.7948 95.4473 68.1946 95.5745C68.5906 95.7034 69.0552 95.6543 69.5885 95.4273L71.4159 94.6493L70.217 91.8331ZM59.5791 88.2224L61.0645 100.497L52.7939 101.497L52.535 99.3578L58.2105 98.671L57.8566 95.7463L52.6066 96.3817L52.3476 94.2421L57.5977 93.6067L57.243 90.6761L51.5435 91.3658L51.2846 89.2262L59.5791 88.2224ZM41.4608 96.8166C41.4331 97.3052 41.5793 97.711 41.8993 98.0341C42.2194 98.3572 42.6896 98.5674 43.3099 98.6646C43.7313 98.7306 44.0965 98.7267 44.4055 98.6529C44.7138 98.5831 44.9617 98.457 45.1492 98.2745C45.3327 98.0915 45.445 97.8687 45.4861 97.6063C45.5283 97.3888 45.5125 97.1908 45.4387 97.0122C45.3608 96.833 45.2418 96.6697 45.0816 96.5224C44.9207 96.3791 44.7298 96.2453 44.509 96.121C44.2875 96.0008 44.0482 95.8899 43.7911 95.7886L42.7349 95.3542C42.2208 95.1514 41.7566 94.9157 41.3425 94.6471C40.9283 94.3785 40.5809 94.0735 40.3004 93.7322C40.0198 93.3908 39.8209 93.0093 39.7037 92.5876C39.5825 92.1653 39.5598 91.6994 39.6356 91.1898C39.7567 90.443 40.0491 89.8248 40.5128 89.3353C40.9719 88.8491 41.579 88.5104 42.3341 88.3191C43.0847 88.1312 43.9569 88.1152 44.9509 88.2709C45.937 88.4255 46.7722 88.7112 47.4564 89.128C48.1367 89.5442 48.6352 90.0806 48.9518 90.7372C49.2639 91.3972 49.3611 92.1681 49.2432 93.0499L46.7443 92.6583C46.7806 92.2444 46.7169 91.8841 46.5532 91.5773C46.3848 91.2739 46.1366 91.0252 45.8085 90.8312C45.4758 90.6406 45.0868 90.5104 44.6415 90.4406C44.2041 90.3721 43.8144 90.3762 43.4724 90.4529C43.1264 90.5291 42.8462 90.6664 42.6318 90.865C42.4173 91.0636 42.2871 91.31 42.2409 91.6043C42.198 91.8786 42.2433 92.122 42.3771 92.3344C42.5068 92.5462 42.7165 92.742 43.006 92.9219C43.2916 93.101 43.6487 93.2792 44.0772 93.4564L45.3548 93.9988C46.3454 94.4107 47.0971 94.9297 47.61 95.556C48.123 96.1823 48.3067 96.9464 48.1613 97.8483C48.0494 98.5885 47.7513 99.2038 47.2671 99.6941C46.7789 100.184 46.1606 100.529 45.4122 100.729C44.6638 100.93 43.8443 100.96 42.9536 100.821C42.0471 100.679 41.2801 100.4 40.6528 99.9836C40.0215 99.5669 39.5603 99.0526 39.2692 98.4407C38.978 97.8289 38.8835 97.1582 38.9856 96.4287L41.4608 96.8166ZM34.734 96.5598L33.7977 98.501L24.6519 94.0897L25.5881 92.1485L28.9974 93.7929L33.4323 84.5981L35.7595 85.7206L31.3247 94.9154L34.734 96.5598ZM12.7637 76.6756L14.4884 78.6799C14.2606 78.9397 14.0946 79.2126 13.9904 79.4987C13.8831 79.7875 13.8339 80.082 13.8428 80.3823C13.8517 80.6826 13.9178 80.9815 14.041 81.279C14.1616 81.5734 14.3374 81.8549 14.5684 82.1233C14.9858 82.6084 15.4699 82.9272 16.0207 83.0798C16.5684 83.235 17.1564 83.2149 17.7846 83.0194C18.4098 82.8266 19.0472 82.4506 19.697 81.8914C20.3651 81.3165 20.8411 80.7344 21.125 80.1449C21.4063 79.5525 21.508 78.9765 21.4301 78.417C21.3522 77.8575 21.1098 77.3413 20.7029 76.8685C20.4745 76.6031 20.2281 76.3877 19.9637 76.2223C19.6966 76.0539 19.4199 75.939 19.1334 75.8775C18.8439 75.8187 18.5516 75.8154 18.2566 75.8675C17.959 75.9165 17.6654 76.0258 17.3759 76.1953L15.6603 74.1831C16.1351 73.8648 16.6616 73.6375 17.2397 73.501C17.8122 73.3642 18.4051 73.3344 19.0186 73.4118C19.6264 73.4888 20.2279 73.688 20.8231 74.0094C21.4126 74.3304 21.9659 74.7914 22.4831 75.3924C23.2023 76.2283 23.6563 77.1384 23.8451 78.1229C24.0312 79.1043 23.9299 80.0941 23.5411 81.0923C23.1497 82.0875 22.4446 83.0235 21.4257 83.9003C20.4037 84.7797 19.3689 85.3357 18.3212 85.5682C17.2735 85.8007 16.2786 85.7489 15.3363 85.4129C14.391 85.0794 13.564 84.5009 12.8552 83.6772C12.388 83.1342 12.0311 82.5652 11.7846 81.9703C11.5355 81.3723 11.4025 80.7673 11.3856 80.1553C11.3656 79.5459 11.469 78.9472 11.6958 78.3592C11.9199 77.7682 12.2759 77.207 12.7637 76.6756ZM18.0831 70.002L6.59648 74.5754L5.62954 72.1468L10.3689 70.2598L8.40599 65.3298L3.66663 67.2168L2.70192 64.7938L14.1886 60.2204L15.1533 62.6433L10.4083 64.5325L12.3712 69.4626L17.1162 67.5734L18.0831 70.002ZM7.17158 47.2637C8.51862 47.2067 9.67541 47.4137 10.6419 47.8844C11.6083 48.3511 12.3593 49.0122 12.8949 49.8677C13.4264 50.7194 13.7152 51.6901 13.7612 52.7798C13.8076 53.8775 13.5999 54.8732 13.1382 55.7668C12.6765 56.6605 11.9838 57.3806 11.0603 57.9272C10.1368 58.4738 9.00348 58.7754 7.66045 58.8322C6.31341 58.8891 5.15671 58.6842 4.19035 58.2175C3.224 57.7508 2.47509 57.0916 1.94363 56.2399C1.40815 55.3884 1.11721 54.4138 1.07082 53.3161C1.02477 52.2264 1.23262 51.2347 1.69435 50.3411C2.15189 49.4436 2.84243 48.7215 3.76596 48.175C4.68933 47.6244 5.82453 47.3206 7.17158 47.2637ZM7.28347 49.9115C6.41091 49.9484 5.68058 50.1102 5.09249 50.3969C4.50423 50.6795 4.06524 51.0626 3.7755 51.5462C3.48576 52.0297 3.35423 52.5871 3.38091 53.2184C3.40759 53.8497 3.58568 54.3941 3.91518 54.8515C4.24468 55.3088 4.71452 55.6556 5.3247 55.8916C5.93471 56.1236 6.67599 56.2212 7.54856 56.1843C8.42112 56.1475 9.15153 55.9877 9.73979 55.705C10.3279 55.4183 10.7668 55.0332 11.0565 54.5497C11.3463 54.0661 11.4778 53.5087 11.4511 52.8774C11.4244 52.2461 11.2464 51.7018 10.9169 51.2444C10.5874 50.787 10.1176 50.4423 9.50759 50.2103C8.89741 49.9742 8.15604 49.8746 7.28347 49.9115ZM1.88411 40.4044L14.0224 42.7542L13.5256 45.3205L1.38731 42.9708L1.88411 40.4044ZM11.7254 27.6518L10.6503 30.0676C10.3181 29.9726 10.0004 29.9391 9.69722 29.9672C9.39032 29.9936 9.10301 30.075 8.83528 30.2113C8.56756 30.3477 8.32555 30.5351 8.10926 30.7737C7.89461 31.0085 7.71529 31.2877 7.57129 31.6113C7.31111 32.1959 7.22971 32.7698 7.3271 33.333C7.42081 33.8945 7.69026 34.4175 8.13544 34.9019C8.57694 35.3848 9.18928 35.8004 9.97247 36.149C10.7777 36.5073 11.5075 36.6889 12.1617 36.6938C12.8176 36.6949 13.3818 36.5407 13.8543 36.2312C14.3268 35.9217 14.6899 35.482 14.9436 34.912C15.0859 34.5921 15.1754 34.2773 15.2119 33.9676C15.25 33.6542 15.2357 33.3548 15.1688 33.0696C15.0982 32.7827 14.9764 32.517 14.8033 32.2726C14.6317 32.0244 14.4075 31.8057 14.1305 31.6164L15.2167 29.2055C15.7073 29.4988 16.1378 29.8776 16.5082 30.342C16.8766 30.801 17.1569 31.3244 17.349 31.9122C17.5392 32.4946 17.6161 33.1235 17.5798 33.799C17.5415 34.4691 17.3611 35.1664 17.0388 35.8907C16.5904 36.8982 15.9615 37.6976 15.1521 38.2889C14.3444 38.8765 13.4062 39.2079 12.3376 39.283C11.2706 39.3544 10.123 39.1168 8.89493 38.5703C7.66315 38.0221 6.71832 37.3241 6.06041 36.4762C5.40251 35.6284 5.02416 34.7067 4.92535 33.7112C4.82286 32.7141 4.99252 31.7192 5.43434 30.7264C5.72561 30.0719 6.08753 29.5061 6.52011 29.029C6.95432 28.5483 7.44446 28.1695 7.99054 27.8927C8.53294 27.6143 9.11839 27.4519 9.7469 27.4056C10.377 27.3557 11.0365 27.4377 11.7254 27.6518ZM20.0074 29.5908L10.7189 21.4309L16.2172 15.1721L17.8364 16.5945L14.0632 20.8895L16.2765 22.8338L19.7668 18.8608L21.3859 20.2832L17.8956 24.2562L20.1134 26.2046L23.9025 21.8914L25.5217 23.3138L20.0074 29.5908Z" fill="black"/>
            </svg>
        </div>
    {{/if}}

    <div class="tier-card__price-wrapper">
        <div class="tier-card__price tier-card__price--monthly">
            <span class="tier-card__price-value monthly{{#match type "free"}} tier-card__price-value--free{{/match}}">{{#match type "free"}}0{{else}}{{price monthly_price currency=currency numberFormat="short" currencyFormat="symbol"}}{{/match}}</span>
            <span class="tier-card__price-per monthly">{{t "per month"}}</span>
        </div>

        <div class="tier-card__price tier-card__price--yearly">
            <span class="tier-card__price-value yearly{{#match type "free"}} tier-card__price-value--free{{/match}}">{{#match type "free"}}0{{else}}{{price yearly_price currency=currency numberFormat="short" currencyFormat="symbol"}}{{/match}}</span>
            <span class="tier-card__price-per yearly">{{t "per year"}}</span>
        </div>
    </div>

    <p class="tier-card__desc">{{description}}</p>
    <div class="tier-card__content">
        {{#if benefits}}
            <ul class="tier-card__benefits-list">
                {{#foreach benefits as |benefit|}}
                <li class="tier-card__benefit-item">
                    <span class="tier-card__benefit-icon">
                        {{>icons/benefit-icon}}
                    </span>
                    {{benefit}}
                </li>
                {{/foreach}}
            </ul>
        {{/if}}
    </div>

    {{#if member}}
        {{#match member.subscriptions.length "=" 0}}
            {{#match type "=" 'free'}}
                <span class="tier-card__your-plan">{{t "Your Plan"}}</span>
            {{else}}
                <a class="btn tier-card__btn monthly" href="#/portal/signup/{{id}}/monthly" aria-label="{{t "Sign Up for"}} {{name}} {{t "Plan"}} {{t "Monthly"}}">
                    <div class="btn__text-wrapper">
                        <span class="btn__text"> {{t "Choose Plan"}}</span>
                        <span class="btn__text"> {{t "Choose Plan"}}</span>
                    </div>
                </a>
                <a class="btn tier-card__btn yearly" href="#/portal/signup/{{id}}/yearly" aria-label="{{t "Sign Up for"}} {{name}} {{t "Plan"}} {{t "Monthly"}}">
                    <div class="btn__text-wrapper">
                        <span class="btn__text"> {{t "Choose Plan"}}</span>
                        <span class="btn__text"> {{t "Choose Plan"}}</span>
                    </div>
                </a>
            {{/match}}
        {{else}}
            {{#match member.subscriptions.[0].tier.name "=" name}}
                <span class="tier-card__your-plan">{{t "Your Plan"}}</span>
            {{else}}
                {{#match type "=" "free"}}
                    <a class="btn{{#if trial_days}} tier-card__btn--trial-days{{/if}} tier-card__btn monthly" href="{{#if @site.portal_button}}#/portal/account{{else}}/account{{/if}}" aria-label="{{t "Manage subscriptions"}}">
                        <div class="btn__text-wrapper">
                            <span class="btn__text"> {{t "Choose Plan"}}</span>
                            <span class="btn__text"> {{t "Choose Plan"}}</span>
                        </div>
                    </a>

                    <a class="btn{{#if trial_days}} tier-card__btn--trial-days{{/if}} tier-card__btn yearly" href="{{#if @site.portal_button}}#/portal/account{{else}}/account{{/if}}" aria-label="{{t "Manage subscriptions"}}">
                        <div class="btn__text-wrapper">
                            <span class="btn__text"> {{t "Choose Plan"}}</span>
                            <span class="btn__text"> {{t "Choose Plan"}}</span>
                        </div>
                    </a>
                {{else}}
                    <a class="btn{{#if trial_days}} tier-card__btn--trial-days{{/if}} tier-card__btn monthly" href="#/portal/signup/{{id}}/monthly" aria-label="{{t "Sign Up for"}} {{name}} {{t "Plan"}} {{t "Monthly"}}">
                        <div class="btn__text-wrapper">
                            <span class="btn__text"> {{t "Choose Plan"}}</span>
                            <span class="btn__text"> {{t "Choose Plan"}}</span>
                        </div>
                    </a>

                    <a class="btn{{#if trial_days}} tier-card__btn--trial-days{{/if}} tier-card__btn yearly" href="#/portal/signup/{{id}}/yearly" aria-label="{{t "Sign Up for"}} {{name}} {{t "Plan"}} {{t "Yearly"}}">
                        <div class="btn__text-wrapper">
                            <span class="btn__text"> {{t "Choose Plan"}}</span>
                            <span class="btn__text"> {{t "Choose Plan"}}</span>
                        </div>
                    </a>
                {{/match}}
            {{/match}}
        {{/match}}
    {{else}}
        {{#match type "=" 'free'}}
            <a class="btn{{#if trial_days}} tier-card__btn--trial-days{{/if}} tier-card__btn monthly" href="{{#if @site.portal_button}}#/portal/signup/free{{else}}/signup{{/if}}" aria-label="{{t "Sign Up for Free"}}">
                <div class="btn__text-wrapper">
                    <span class="btn__text"> {{t "Choose Plan"}}</span>
                    <span class="btn__text"> {{t "Choose Plan"}}</span>
                </div>
            </a>
            <a class="btn{{#if trial_days}} tier-card__btn--trial-days{{/if}} tier-card__btn yearly"  href="{{#if @site.portal_button}}#/portal/signup/free{{else}}/signup{{/if}}" aria-label="{{t "Sign Up for Free"}}">
                <div class="btn__text-wrapper">
                    <span class="btn__text"> {{t "Choose Plan"}}</span>
                    <span class="btn__text"> {{t "Choose Plan"}}</span>
                </div>
            </a>
        {{else}}
            <a class="btn{{#if trial_days}} tier-card__btn--trial-days{{/if}} tier-card__btn monthly" href="#/portal/signup/{{id}}/monthly" aria-label="{{t "Sign Up for"}} {{name}} {{t "Plan"}} {{t "Monthly"}}">
                <div class="btn__text-wrapper">
                    <span class="btn__text"> {{t "Choose Plan"}}</span>
                    <span class="btn__text"> {{t "Choose Plan"}}</span>
                </div>
            </a>
            <a class="btn{{#if trial_days}} tier-card__btn--trial-days{{/if}} tier-card__btn yearly"  href="#/portal/signup/{{id}}/yearly" aria-label="{{t "Sign Up for"}} {{name}} {{t "Plan"}} {{t "Yearly"}}">
                <div class="btn__text-wrapper">
                    <span class="btn__text"> {{t "Choose Plan"}}</span>
                    <span class="btn__text"> {{t "Choose Plan"}}</span>
                </div>
            </a>
        {{/match}}
    {{/if}}
</div>