 <section class="grid-with-sidebar">
    <div class="post-layout">
        <div class="grid-with-sidebar__wrapper">
            {{#match tag "=" 'show-latest-posts'}}
                <h2 class="header-layout">
                    <span class="header-layout__title">
                        {{t "Latest Posts"}}
                    </span>
                    <a href="/archive" class="header-layout__link"  arial-label="{{t "Link to archive page"}}">{{t "View All"}}</a>
                </h2>
                <div class="grid-with-sidebar__posts"{{#match pagination.next "!=" null}} data-load-more-posts="enable"{{else}} data-load-more-posts="disable"{{/match}}>
                    {{#foreach posts}}
                        {{>post-card/post-card-default showAuthors="true"}}
                    {{/foreach}}
                </div>
                {{#match pagination.next "!=" null}}
                    {{>button btnType="loadMore"}}
                {{/match}}
            {{else match tag "=" 'show-featured-posts'}}
                {{#get "posts" limit=@config.posts_per_page include="tags,authors" order="published_at desc" filter="featured:true"}}
                    {{#if posts}}
                        <div class="grid-with-sidebar__posts">
                            {{#foreach posts}}
                            {{>post-card/post-card-default showAuthors="true"}}
                            {{/foreach}}
                        </div>
                    {{/if}}
                {{/get}}
            {{else}}
                <h2 class="header-layout">
                    <span class="header-layout__title">
                        {{#get "tags" filter="slug:{{tag}}"}}
                            {{#foreach tags}}
                            {{name}}
                            {{/foreach}}
                        {{/get}}
                    </span>
                    <a href="/tag/{{tag}}" class="header-layout__link"  arial-label="{{t "Link to page tag {tagName}" tagName=tag}}">{{t "View All"}}</a>
                </h2>
                {{#get "posts" limit=@config.posts_per_page include="tags,authors" order="published_at desc" filter="tag:{{tag}}"}}
                    {{#if posts}}
                        <div class="grid-with-sidebar__posts">
                            {{#foreach posts}}
                            {{>post-card/post-card-default showAuthors="true"}}
                            {{/foreach}}
                        </div>
                    {{/if}}
                {{/get}}
            {{/match}}  
        </div>

        <aside class="sidebar{{#if @custom.advertisement_image}} sidebar--with-adv-img{{/if}}">
            {{#match latestPostsWithSlider "true"}}
                <div class="sidebar__posts-wrapper">
                    <span class="sidebar__posts-title">
                        {{t "Latest"}}
                    </span>
                    <div class="sidebar__slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                {{#get "posts" limit=3 include="tags,authors" order="published_at desc"}}
                                    {{#if posts}}
                                        {{#foreach posts}}
                                            {{>post-card/post-card-slide}}
                                        {{/foreach}}
                                    {{/if}}
                                {{/get}}
                            </div>
                        </div>

                        <div class="swiper-nav-btn swiper-button-prev">{{>icons/slider-nav-icon}}</div>
                        <div class="swiper-nav-btn swiper-button-next">{{>icons/slider-nav-icon}}</div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            {{/match}}

            {{#match featuredPostsWithSlider "true"}}
                <div class="sidebar__posts-wrapper">
                    <span class="sidebar__posts-title">
                        {{t "Featured"}}
                    </span>
                    <div class="sidebar__slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                {{#get "posts" limit=3 include="tags,authors" order="published_at desc" filter="featured:true"}}
                                    {{#if posts}}
                                        {{#foreach posts}}
                                            {{>post-card/post-card-slide}}
                                        {{/foreach}}
                                    {{/if}}
                                {{/get}}
                            </div>
                        </div>

                        <div class="swiper-nav-btn swiper-button-prev">{{>icons/slider-nav-icon}}</div>
                        <div class="swiper-nav-btn swiper-button-next">{{>icons/slider-nav-icon}}</div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            {{/match}}

            {{#match postsOnSlugWithSlider "true"}}
                <div class="sidebar__posts-wrapper">
                    <span class="sidebar__posts-title">
                        {{#get "tags" filter="slug:{{sidebarTag}}"}}
                            {{#foreach tags}}
                            {{name}}
                            {{/foreach}}
                        {{/get}}
                    </span>
                    <div class="sidebar__slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                {{#get "posts" limit=3 include="tags,authors" order="published_at desc"}}
                                    {{#if posts}}
                                        {{#foreach posts}}
                                            {{>post-card/post-card-slide}}
                                        {{/foreach}}
                                    {{/if}}
                                {{/get}}
                            </div>
                        </div>

                        <div class="swiper-nav-btn swiper-button-prev">{{>icons/slider-nav-icon}}</div>
                        <div class="swiper-nav-btn swiper-button-next">{{>icons/slider-nav-icon}}</div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            {{/match}}

            {{#match postsOnSlug "true"}}
                <div class="sidebar__posts-wrapper">
                    <span class="sidebar__posts-title">
                        {{#get "tags" filter="slug:{{sidebarTag}}"}}
                            {{#foreach tags}}
                            {{name}}
                            {{/foreach}}
                        {{/get}}
                    </span>
                    {{#get "posts" limit=3 include="tags,authors" order="published_at desc" filter="tag:{{sidebarTag}}"}}
                        {{#if posts}}
                            <div class="sidebar__posts">
                                {{#foreach posts}}
                                {{>post-card/post-card-big-secondary}}
                                {{/foreach}}
                            </div>
                        {{/if}}
                    {{/get}}
                </div>
            {{/match}}

            {{#match advertisement "true"}}
                {{#if @custom.advertisement_image}}
                <div class="advertisement">
                    <picture>
                        <source srcset="
                        {{img_url @custom.advertisement_image size="2000" format="webp" }} 2000w, 
                        {{img_url @custom.advertisement_image size="1600" format="webp" }} 1600w, 
                        {{img_url @custom.advertisement_image size="1200" format="webp" }} 1200w, 
                        {{img_url @custom.advertisement_image size="960" format="webp" }} 960w, 
                        {{img_url @custom.advertisement_image size="720" format="webp" }} 720w, 
                        {{img_url @custom.advertisement_image size="480" format="webp" }} 480w, 
                        {{img_url @custom.advertisement_image size="400" format="webp" }} 400w"
                        sizes="(max-width: 1000px) 95vw, 300px" type="image/webp">
                        <img srcset="
                        {{img_url @custom.advertisement_image size="2000"}} 2000w, 
                        {{img_url @custom.advertisement_image size="1600"}} 1600w, 
                        {{img_url @custom.advertisement_image size="1200"}} 1200w, 
                        {{img_url @custom.advertisement_image size="960"}} 960w, 
                        {{img_url @custom.advertisement_image size="720"}} 720w, 
                        {{img_url @custom.advertisement_image size="480"}} 480w, 
                        {{img_url @custom.advertisement_image size="400"}} 400w"
                        sizes="(max-width: 1000px) 95vw, 300px"
                                src="{{img_url @custom.advertisement_image size="2000"}}" alt="{{@site.title}} {{t "cover image"}}" class="advertisement__img">
                    </picture>
                </div>
                {{/if}}
            {{/match}}
        </aside>
    </div>
</section>

